* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #F8F9FA, #C8A24D, #fff455);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #f7ec8a;
}

.nav-link {
    color: rgb(7, 7, 7);
    transition: 0.3s ease;
    font-size: 20px;
}

.nav-link:hover {
    color: #737504;
    transform: scale(1.05);
    font-size: 20px;
}

.navbar {
    margin-right: 20px;
    border-radius: 20px;
}

.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.hero-section {
    border: #7a7936 solid 2px;
    padding: 30px;
}

.img-kaaba {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 550px;
    border-radius: 50%;
    border: 5px solid #070707;
}

.img-kaaba:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

.hero-section {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
}

.hero-section:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.heading1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.heading1:hover {
    font-size: 55px;
    font-weight: 700;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    font-style: italic;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;

}

.hajj-para {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-style: italic;
    line-height: 1.6;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.about-section {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
}

.img-kaaba-about {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 550px;
    border-radius: 50%;
    border: 5px solid #070707;
}

.img-kaaba-about:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

.a .btno {
    text-decoration: none;
}

.btno {
    background-color: #ffe605;
    border-radius: 10px;
    border: 2px solid rgb(112, 105, 2);
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    width: fit-content;
    display: inline-block;
    font-size: 20px;
    align-self: center;
}

.btn0:hover {
    border-radius: 10px;
    border: 2px solid rgb(95, 81, 0);
    color: rgb(16, 16, 16);
    background-color: #fff8b8;
    transition: 0.5s;
    cursor: pointer;
}

.btn {
    background-color: #ffe605;
    border-radius: 10px;
    border: 2px solid rgb(112, 105, 2);
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    width: fit-content;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    font-style: italic;
}

.btn:hover {
    border-radius: 10px;
    border: 2px solid rgb(95, 81, 0);
    color: rgb(16, 16, 16);
    background-color: #fff8b8;
    transition: 0.5s;
    cursor: pointer;
}

.btn:active {
    background-color: #806d00;
    transform: scale(0.98);
}

.hajj-cards {
background-color: #dfc46d;   
 border-radius: 20px;
}

/* 
.hajj-col {
    background-color: #C8A24D;
    border-radius: 20px;
} */

.hajj-card {
    background: linear-gradient(135deg, #F8F9FA, #C8A24D, #fff455);
    border-radius: 10px;
    border: #88873d solid 2px;
}

.card-img-top {
    height: 300px;
}

.card-text {
    text-align: center;
}

.heading-3 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.footer {
    background: linear-gradient(135deg, #f1e8bc, #C8A24D, #b4ab22);
    background-size: cover;
    background-position: center;
    border-top: 4px solid gold;
    color: rgb(0, 0, 0);
}

/* Footer Heading */
.footer h5 {
    color: rgb(80, 68, 1);
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}

.footer h5::after {
    content: "";
    width: 60px;
    height: 2px;
    background: gold;
    display: block;
    margin-top: 8px;
}

/* Paragraphs */
.footer p {
    color: #000000;
    line-height: 1.8;
    font-size: 15px;
}

/* Footer Image */
.footer-img {
    width: 220px;
    border-radius: 15px;
    border: 2px solid gold;
    transition: 0.4s;
}

.footer-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px gold;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    list-style: none;
    margin-bottom: 14px;
}

.footer ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

.footer ul li a:hover {
    color: gold;
    padding-left: 6px;
}

.para-e a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.para-e a:hover {
    text-decoration: underline;
}

.social-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.social-links a:hover {
    color: gold;
}

.imgs {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.4s;
}

.imgs:hover {
    transform: rotate(10deg) scale(1.1);
    box-shadow: 0 0 12px gold;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
    color: #000000;
    font-size: 20px;
}

.hajj-timeline-section {
    width: 90%;
    margin: 60px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.timeline-heading {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: #524a03;
    margin-bottom: 50px;
}

.timeline-heading:hover {
    font-size: 65px;
    font-style: italic;
    color: #524a03;
    margin-bottom: 50px;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: #7c7002;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 10px;
}

.timeline-box {
    padding: 20px 30px;
    position: relative;
    width: 50%;
    background: linear-gradient(135deg, #F8F9FA, #C8A24D, #fff455);
    border: 2px solid #383301;
    border-radius: 20px;
    margin-bottom: 30px;
    backdrop-filter: blur(5px);
    transition: 0.4s;
}

.timeline-box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px #5c5300;
    cursor: pointer;
}

.timeline-box h3 {
    color: #5e5402;
    margin-bottom: 10px;
    font-size: 26px;
}

.timeline-box p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.6;
}

.timeline-box:nth-child(odd) {
    left: 0;
}

.timeline-box:nth-child(even) {
    left: 50%;
}

.benefits-section {
    width: 90%;
    margin: 70px auto;
    padding: 50px 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 25px;
    text-align: center;
    /* border: #444302 1px solid; */
}

.benefits-section:hover {
    width: 90%;
    margin: 70px auto;
    padding: 50px 30px;
    box-shadow: #3d3701;
    border-radius: 25px;
    text-align: center;
    /* border: #444302 1px solid; */
}

.benefits-heading {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: #524a03;
    margin-bottom: 50px;
}

.benefits-heading:hover {
    font-size: 65px;
    font-style: italic;
    color: #524a03;
    margin-bottom: 50px;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

.benefits-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.benefit-card {
    background: rgba(255, 255, 255, 0.12);
    border: 2px solid #b3a209;
    border-radius: 20px;
    padding: 35px 25px;
    transition: 0.4s;
    backdrop-filter: blur(5px);
}

.benefit-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #5c5301;
    cursor: pointer;
}

.icon {
    font-size: 50px;
    margin-bottom: 20px;
}

.benefit-card h3 {
    color: #3d3701;
    font-size: 30px;
    margin-bottom: 15px;
}

.benefit-card p {
    color: rgb(59, 58, 0);
    font-size: 20px;
    line-height: 1.7;
}

.quotes-section {
    width: 90%;
    margin: 70px auto;
    padding: 50px 30px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
}

.quotes-heading {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    font-style: italic;
    color: #524a03;
    margin-bottom: 50px;
}

.quotes-heading:hover {
    font-size: 65px;
    font-style: italic;
    color: #524a03;
    margin-bottom: 50px;
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

.quotes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.quote-card {
    background: rgba(255, 255, 255, 0.12);
    border: 2px solid #534b01;
    border-radius: 25px;
    padding: 40px 30px;
    backdrop-filter: blur(5px);
    transition: 0.4s;
    position: relative;
    overflow: hidden;
}

.quote-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #665c01;
    cursor: pointer;
}

.quote-icon {
    font-size: 55px;
    margin-bottom: 20px;
}

.quote-text {
    color: rgb(105, 95, 1);
    font-size: 23px;
    line-height: 1.8;
    font-style: italic;
    margin-bottom: 20px;
}

.quote-card h4 {
    color: #000000;
    font-size: 18px;
    letter-spacing: 1px;
}

@media(max-width:768px) {
    .timeline::after {
        display: none;
    }

    .timeline-box {
        width: 100%;
        padding-left: 60px;
        left: 0 !important;
    }

    .timeline-heading {
        font-size: 32px;
    }

    .footer {
        text-align: center;
    }

    .footer h5::after {
        margin: 10px auto;
    }

    .footer-img {
        width: 180px;
    }

    .social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-heading {
        font-size: 32px;
    }

    .quotes-heading {
        font-size: 32px;
    }

    .quote-text {
        font-size: 18px;
    }

}